<?xml version="1.0" encoding="UTF-8"?>
<config>
    <Modules>
        <Magentotutorial_Weblog>
            <version>0.1.0</version>
        </Magentotutorial_Weblog>
    </Modules>
    <frontend>
        <routers>
            <weblog>
                <use>standard</use>
                <args>
                    <module>Magentotutorial_Weblog</module>
                    <frontName>weblog</frontName>
                </args>
            </weblog>
        </routers>
    </frontend>


    <global>
        <models>
            <weblog>
                <class>Magentotutorial_Weblog_Model</class>
                <resourceModel>weblog_resource</resourceModel>
            </weblog>

            <weblog_resource>
                <class>Magentotutorial_Weblog_Model_Test_Resource</class>
                <entities>
                    <blogpost>
                        <table>blog_posts</table>
                    </blogpost>
                </entities>
            </weblog_resource>


        </models>

        <resources>
            <weblog_setup>
                <setup>
                    <module>Magentotutorial_Weblog</module>

                </setup>
            </weblog_setup>
        </resources>

    </global>

</config>
