<?xml version="1.0"?>
<config>
    <tabs>
        <bvy translate="label">   <!-- здесь даем имя нашей табе в секции system-->
            <label>Bvy</label>
            <sort_order>150</sort_order>
        </bvy>
    </tabs>
    <sections>
        <bvy_news_tab translate="label" module="adminhtml">   <!-- здесь даем имя нашей табе в секции system/bvy-->
            <label>news</label>
            <tab>bvy</tab>  <!-- здесь указываем внутри какой табы будет наша таба-->
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label comment">
                    <label>General</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[This is a <strong>global comment</strong> about my <em>configuration</em>.<br />You can specify <u>custom html</u> tags. <a href="http://www.bubblecode.net/en" target="_blank">Click here for example!</a>]]></comment>
                    <fields>
                        <text_field translate="label comment">  <!-- объявляем поле, даем ему метку, тип -->
                            <label>Text Field</label>
                            <comment>Text field with store view scope.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <!-- для валидации используется встроенные в js/prototype/validation.js методы валидации.  Добавляет в цсс имя класса валидации-->
                            <validate>validate-alpha</validate>
                        </text_field>
                        <textarea translate="label comment">
                            <label>Textarea</label>
                            <comment>Textarea with store view scope.</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </textarea>
                   <!--     <dropdown translate="label comment">
                            <label>Dropdown</label>
                            <comment>Dropdown with global scope.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>jr_customconfigexample/system_config_source_dropdown_values</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </dropdown>
                        <multiple_dropdown translate="label comment">
                            <label>Multiselect</label>
                            <comment>Multiselect with global scope.</comment>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>jr_customconfigexample/system_config_source_dropdown_values</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </multiple_dropdown>  -->
                        <file translate="label comment">
                            <label>File</label>
                            <comment><![CDATA[File saved in <strong><span style="color: red;">var/uploads</span></strong> folder.]]></comment>
                            <frontend_type>file</frontend_type>
                            <backend_model>adminhtml/system_config_backend_file</backend_model>
                            <upload_dir>var/uploads</upload_dir>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </file>
                        <time translate="label comment">
                            <label>Time</label>
                            <frontend_type>time</frontend_type>
                            <sort_order>52</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </time>
                        <active translate="label comment">
                            <label>Enable/Disable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>54</sort_order>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <heading_example translate="label">
                            <label>Heading example</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>55</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </heading_example>
                        <boolean translate="label comment">
                            <label>Boolean</label>
                            <comment>Boolean with website scope and dependant fields when Yes is selected.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </boolean>
                        <dependant_text_field translate="label comment">
                            <label>Dependant Text Field</label>
                            <comment>This field depends of boolean value above.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <boolean>1</boolean>
                            </depends>
                        </dependant_text_field>
                    </fields>
                </general>
            </groups>
        </bvy_news_tab>
    </sections>
</config>