<?xml version="1.0"?>

<config>
    <modules>
        <New_Stocks>
            <version>0.0.1</version>
        </New_Stocks>
    </modules>
    <frontend>
        <routers>
            <stocks>
                <use>standard</use>
                <args>
                    <module>New_Stocks</module>
                    <frontName>stocks</frontName>
                </args>
            </stocks>
        </routers>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <stocks>
                        <type>singleton</type>
                        <class>stocks/observer</class>
                        <method>blockTopmenu</method>
                    </stocks>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
        <translate>
            <modules>
                <New_Stocks>
                    <files>
                        <default>New_Stocks.csv</default>
                    </files>
                </New_Stocks>
            </modules>
        </translate>
        <layout>
            <updates>
                <stocks>
                    <file>stocks.xml</file>
                </stocks>
            </updates>
        </layout>
    </frontend>
   
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <newstocks before="Mage_Adminhtml">New_Stocks_Adminhtml</newstocks>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <New_Stocks>
                    <files>
                        <default>New_Stocks.csv</default>
                    </files>
                </New_Stocks>
            </modules>
        </translate>
        <layout>
            <updates>
                <stocks>
                    <file>stocks.xml</file>
                </stocks>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <models>
            <stocks>
                <class>New_Stocks_Model</class>
                <resourceModel>stocks_resource</resourceModel>
            </stocks>
            <stocks_resource>
                <class>New_Stocks_Model_Resource</class>
                <deprecatedNode>stocks_mysql4</deprecatedNode>
                <entities>
                    <stocks>
                        <table>stocks</table>
                    </stocks> 
                </entities>
            </stocks_resource>
        </models>
        <blocks>
            <stocks>
                <class>New_Stocks_Block</class>
            </stocks>
            <page>
                <rewrite>
                    <html_topmenu>New_Stocks_Block_Page_Html_Topmenu</html_topmenu>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <stocks>
                <class>New_Stocks_Helper</class>
            </stocks>
        </helpers>  
        <resources>
            <stocks_setup> 
                <setup>
                    <module>New_Stocks</module>
                </setup>
            </stocks_setup>
        </resources>       
    </global>    
</config>
